{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">You Won a Deal!</h1>
<div class="gif" align="center" >
  <img class="animated-gif" width="320" height=auto" src="{{ url_for('static', filename='logo.gif') }}" />
</div>
<h3 align="center"> {{ note.data }} </h3>
<h3 align="center"> 2 </h3>

{% if not user.is_authenticated %}
<form method="POST">
  <textarea name="email" id="email" class="form-control">Enter email to receive deal</textarea>
  <br />
  <div align="left">
    <button type="submit" class="btn btn-primary">Add email</button>
  </div>
</form>
{% endif %}
<!--
<video width="320" height="240" controls="" autoplay="" name="media">
  <source src="{{ url_for('static', filename='raffle.MP4') }}" type="video/mp4">
</video>
-->
{% endblock %}